---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <p>{frontmatter.description}</p>
  <ul class="meta">
    <li>投稿日: {frontmatter.pubDate.slice(0,10)}</li>
    <li>著者: {frontmatter.author}</li>
  </ul>
  <ul>
    {frontmatter.tags.map((tag) => <li>{tag}</li>)}
  </ul>
  <figure>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} width="300">
  </figure>

  <div class="tags">
    {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>


  <slot />
</BaseLayout>
<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>
